body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #d7b598;
  color: #000000;  
}

h1, h2, h3 {
  text-align: center;
}
h1 {
  font-size: 2.5em;
  color: #3b4f4f; 
  margin-bottom: 10px;
}
h2 {
  font-size: 1.8em;
  color: #3b4f4f; 
  margin: 10p 0;
}
h3 {
  font-size: 1.2em;
  color: #3b4f4f;
  margin: 10px 0;
}

/* Map Container Styles */
#map {
  display: block;
  margin: 20px auto;
  width: 900px;
  height: 500px;
  border: 10px solid #1E90FF; 
  box-shadow: 0 2px 8px rgba(200, 190, 190, 0.1);
  border-radius: 10px;
  padding: 10px;
}
.info.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  display: inline-block;
}